<!DOCTYPE html>
<html lang="en" xmlns:th="http//www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>addDriver</title>
</head>
<body>
<form action="#" th:action="@{/addDriver/register}" th:object="${driver}" method="post">
    <label>
        name:
        <input type="text" th:field="*{name}" ><br><br>
    </label>
    <label>
        mobileNumber:
        <input  type="text" th:field="*{mobileNumber}" ><br><br>
    </label>
    <label>
        carType:
        <input type="text" th:field="*{carType}"  ><br><br>
    </label>
    <input type="submit" value="Submit">
</form>

</body>
</html>